version: "3.9"

services:
  api:
    build:
      context: ./api
    container_name: project_api
    env_file:
      - ./api/.env
    ports:
      - "3000:3000"
    depends_on:
      - db
    restart: unless-stopped

  app:
    build:
      context: ./app
    container_name: project_app
    ports:
      - "8081:80"
    depends_on:
      - api
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    container_name: finance
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
